@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  height: 100vh;
  background-color: black;
  font-family: roboto;
}
header {
  height: 100%;
  width: 100%;
  display: flex;
}
.hero {
  position: relative;
  z-index: 1;
  background: center / cover url(../assets/sherifflazone-header.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 125px;
  width: 100%;
}
h1 {
  font-family: Commissioner;
  font-size: 25px;
  letter-spacing: 10px;
  color: white;
  mix-blend-mode: difference;
  z-index: 2;
}

h1::selection {
  color: black;
  background-color: white;
}
.resender {
  color: white;
  border-bottom: solid 2px white;
  transition-duration: 0.4s;
  cursor: pointer;
  padding-inline: 5px;
}
.resender:hover {
  padding-inline: 15px;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 2s ease-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-in-b {
  opacity: 0;
  animation: fadeInB 1s ease-out forwards;
}
@keyframes fadeInB {
  to {
    opacity: 0.8;
    transform: translateY(0);
  }
}
main {
  height: 100%;
}
.album-grid {
  width: 100%;
  height: 70%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.album {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
}
.album-cover {
  width: 50%;
  height: 40%;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
#dmvp {
  background: center / cover url(../assets/dmvp.jpg);
  transition-duration: 0.3s;
}
#extended {
  background: center / cover url(../assets/dmvp-extended.png);
}
.album-name a{
	color: white;
	text-decoration: none;
}


@media screen and (min-width: 378px){
	.album-grid{
		grid-template-columns: repeat(2, 1fr);
	}
	h1{
		font-size: 120px;
	}
	.album-cover{
		height: 75%;
	}
}